* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.jumbotron {
  /*position: relative;*/
  /*padding-top: 100px;
  padding-bottom: 50px;*/
  opacity: 0.75;
  color: #fff;
 /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  text-align: center;*/
  background: url('../img/foodshare4.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  /*margin-bottom: 0px;
  margin-top: -27px;*/
}

#logout {
  float: right;
}



#indexbtn {
    padding: 20px 30px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

 /*main page login/sign up modals*/

    .pb-modalreglog-container
    {
        margin-top: 100px;
    }

    .pb-modalreglog-legend
    {
        text-align: center;
    }

    .pb-modalreglog-input-group
    {
        margin: auto;
    }

    .pb-modalreglog-submit
    {
        margin-left: 5px;
    }

    .pb-modalreglog-form-reg
    {
        text-align: center;
    }

    .pb-modalreglog-footer p
    {
        text-align: center;
        margin-top: 20px;
    }

    #pb-modalreglog-progressbar
    {
        border-radius: 2px;
    }