* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    /*background: transparent;*/
    color: black;
    font-weight: bold;
}

.navbar-brand {
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Rochester', cursive;*/
    font-size: 20px;
}

#signed-in-as {
    margin-right: 20px;
}


.jumbotron {
    /*position: relative;*/
    opacity: 0.75;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    /*text-align: center;*/
    background: url('../img/foodshare4.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: 0px;
    margin-top: -70px;
}

.display-3 {
    font-weight: bold;
    font-size: 100px;
}

#logout {
    float: right;
}



#indexbtn {
    padding: 20px 30px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #7EB348;
    background-image: none;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none ! important;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-primary {
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #7EB348;
    background-image: none;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none ! important;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

#indexbtn:hover {
    background: #587c32;
    color: #fff;
}

.btn-primary:hover {
    background: #587c32;
    color: #fff;
}




/*main page login/sign up modals*/

#register-modal {
    width: 500px;
}

.pb-modalreglog-container {
    margin-top: 100px;
}

.pb-modalreglog-legend {
    text-align: center;
}

.pb-modalreglog-input-group {
    margin: auto;
}

.pb-modalreglog-submit {
    margin-left: 5px;
}

.pb-modalreglog-form-reg {
    text-align: center;
}

.pb-modalreglog-footer p {
    text-align: center;
    margin-top: 20px;
}

#pb-modalreglog-progressbar {
    border-radius: 2px;
}


/*card styling*/

.card {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    border-width: 0;
    box-shadow: none;
    /*background-color: #f3f8ee;*/
}

.card-group {
    display: flex;
}
#footer {
    background: #7EB348;
    color: white;
    font-weight: bold;
}